:root {
  --primary: #f84227;
  --secundary: #ffb143;
  --blanco: #ffffff;
  --principalFont: 'Poppins', sans-serif;
  --secundaryFont: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}
h1,
h2,
h3 {
  font-weight: 800;
  margin: 2rem 0;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4.6rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

body {
  background-color: #c4c4c4;
}

/* TODO: Atributtes Selector */

[class$='__container'] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.header__container {
  /* background-color: #ffb143; */
  overflow: hidden;
}

.header__container::before,
.header__container::after {
  content: '';
  height: 20rem;
  width: 100%;
  position: absolute;
  left: 0;
}

.header__container::before {
  /* background-color: blue; */
  background-image: url(../../public/assets/img/rectangle.svg);
  background-repeat: no-repeat;
  background-size: 100rem;
  left: 50%;
  top: 20rem;
  height: 100%;
}

.header {
  background-color: var(--primary);
  position: relative;
  /* margin: 10rem 0; */
  /* Para que no aparezca el sroll h */
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header {
    background-size: 90rem;
  }
}

.header::before,
.header::after {
  content: '';
  height: 20rem;
  width: 100%;
  position: absolute;
}

.header::before {
  /* background-color: blue; */
  background-image: url(../../public/assets/img/SVGTopCenter.svg);
  background-repeat: no-repeat;
  text-align: center;
  left: 36%;
}

.header::after {
  top: 0;
  /* background-color: blue; */
  background-image: url(../../public/assets/img/SVGTopRight.svg);
  background-size: 14rem;
  background-repeat: no-repeat;
  left: 93%;
}

@media screen and (min-width: 768px) {
  .header__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.header__logo {
  margin: 0 auto 3rem auto;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    /* align-items: flex-end; */
  }
}

.navigation__link {
  color: white;
  font-family: var(--secundaryFont);
  font-size: 2rem;
  /* Para que no lo tape el header::before */
  position: relative;
}

/* Header Grid */
.header__grid {
  color: var(--blanco);

  align-items: center;
}

.header__info {
  display: none;
}

.header__text {
  width: 70%;
}

.header__heading {
  font-family: var(--principalFont);
  font-size: 5rem;
  line-height: 6rem;
}

@media screen and (min-width: 768px) {
  .header__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6rem;
  }

  .header__info {
    display: flex;
    font-family: var(--secundaryFont);
  }
}

/* .header__grafic {
  background-image: url(../../public/assets/img/rectangle.svg);
  background-repeat: no-repeat;
  position: relative;
} */

/* background-color: var(--blanco); */
/* .header__grafic::before,
.header__grafic::after {
  background-color: green;
  content: '';
  width: 100%;
  position: absolute;
} */
