:root {
  --primary: #f84227;
  --secundary: #ffb143;
  --terciary: #ffe7d1;
  --blanco: #ffffff;
  --principalFont: 'Poppins', sans-serif;
  --secundaryFont: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}
h1,
h2,
h3 {
  font-weight: 800;
  margin: 2rem 0;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4.6rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background-color: var(--blanco);
}

/* TODO: Atributtes Selector */

[class$='__container'] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

[class$='__button'] {
  padding: 0.5rem 0;
  display: block;
  text-align: center;
  border-radius: 30px;
  font-family: var(--principalFont);
  font-weight: bold;
  color: var(--blanco);
  margin: 0 auto;
}

[class$='__heading'] {
  font-family: var(--principalFont);
  font-size: 3rem;
  line-height: 3rem;
}

.header__container {
  /* background-color: #ffb143; */
  overflow: hidden;
}

.header__container::before,
.header__container::after {
  content: '';
  /* height: 20rem; */
  width: 100%;
  position: absolute;
  /* left: 0; */
}

.header__container::before {
  /* background-color: blue; */
  background-image: url(../../public/assets/img/rectangle.svg);
  background-repeat: no-repeat;
  background-size: 133rem;
  left: 50%;
  top: 10rem;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .header__container::before {
    background-size: 100rem;
  }
}

.header {
  background-color: var(--primary);
  position: relative;
  /* margin: 10rem 0; */
  /* Para que no aparezca el sroll h */
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header {
    background-size: 90rem;
  }
}

.header::before,
.header::after {
  content: '';
  height: 20rem;
  width: 100%;
  position: absolute;
}

.header::before {
  /* background-color: blue; */
  background-image: url(../../public/assets/img/SVGTopCenter.svg);
  background-repeat: no-repeat;
  text-align: center;
  left: 36%;
}

.header::after {
  top: 0;
  /* background-color: blue; */
  background-image: url(../../public/assets/img/SVGTopRight.svg);
  background-size: 14rem;
  background-repeat: no-repeat;
  left: 93%;
}

@media screen and (min-width: 768px) {
  .header__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 4rem 0;
  }
}

.header__logo {
  margin: 0 auto 3rem auto;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    /* align-items: flex-end; */
  }
}

.navigation__link {
  color: white;
  font-family: var(--secundaryFont);
  font-size: 2rem;
  /* Para que no lo tape el header::before */
  position: relative;
}

/* Header Grid */
.header__grid {
  color: var(--blanco);
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 4rem;
}

.header__info {
  display: none;
}

.header__text {
  width: 100%;
}

.header__heading {
  font-family: var(--principalFont);
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 6rem;
    /* gap: 6rem; */
  }

  .header__info {
    display: flex;
    font-family: var(--secundaryFont);
  }

  .header__heading {
    text-align: left;
    font-size: 5rem;
    line-height: 6rem;
  }
}

.header__grafic {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 777px) {
  .header__grafic {
    justify-content: flex-end;
  }
}

.header__info {
  line-height: 2.5rem;
  margin-bottom: 5rem;
}

.header__button {
  background-color: transparent;
  border: 1px solid var(--blanco);
  width: 70%;
}

@media screen and (min-width: 768px) {
  .header__button {
    padding: 1.5rem 0;
    width: 100%;
  }
}

/* MENU */

.main {
  position: relative;
  background-color: var(--terciary);
  padding-bottom: 2rem;
}

.menu {
  background-color: var(--blanco);
  overflow: hidden;
}

.menu__bar {
  background-color: var(--blanco);
}

.menu__contenedorButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__carousel {
  display: flex;
  flex-direction: row;
  /* background-color: blue; */
  margin-top: 2rem;
  width: 204%;
}

@media screen and (min-width: 768px) {
  .menu__carousel {
    width: 100%;
  }
}

.menu__button {
  background-color: var(--secundary);
  position: relative;
  bottom: 2rem;
  width: 15rem;
  display: none;
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.menu__imgContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: orange; */
}

.menu__img {
  height: 100%;
}

.menu__nameImg {
  font-family: var(--principalFont);
  font-size: 1.5rem;
}

.menu__subContainerImg {
  height: 10rem;
}

/* MAIN (on menu) */

/* .main { */
/* background-color: #86995a; */
/* } */

.main__container {
  padding-top: 2rem;
}

.main__grid-1 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

@media screen and (min-width: 1024px) {
  .main__grid-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin-bottom: 1rem;
  }
}

.main__card {
  display: grid;
  grid-template-columns: 2fr 2fr;
  background-color: var(--blanco);
  border-radius: 10px;
  padding: 2rem 2rem;
  gap: 2rem;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 22rem;
  /* horizontal, vertical, blur, spread (dureza), color */
  box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 0.15);
  transition-property: transform;
  transition-duration: 300ms;
}

/* Texto */
.main__size {
  font-family: var(--principalFont);
  font-weight: 600;
  color: var(--primary);
  font-size: 2rem;
  margin: 1rem 0;
}

.main__card:hover {
  color: var(--blanco);
  background-color: var(--primary);
  box-shadow: 0px 0px 15px 1px rgb(red / 0.15);
  transform: scale(1.05);
  cursor: pointer;
}

.main__card:hover .main__size {
  color: white;
}

@media screen and (min-width: 992px) {
  .main__card {
    padding: 0 2rem;
    height: 20rem;
  }
}
/* .main__size.active {
  color: white;
  transition: 300ms;
} */

.main__elipse-1 {
  background-image: url(../../public/assets/img/ellipse.svg);
  position: absolute;
  background-repeat: no-repeat;
  left: 58%;
  top: 3rem;
  background-size: 15rem;
}

.main__elipse-2 {
  background-image: url(../../public/assets/img/maskgroupCookies.svg);
  position: absolute;
  background-repeat: no-repeat;
  left: 58%;
  top: 3rem;
  background-size: 15rem;
}

.main__elipse-3 {
  background-image: url(../../public/assets/img/map.svg);

  position: absolute;
  background-repeat: no-repeat;
  left: 58%;
  top: 3rem;
  background-size: 15rem;
}

@media screen and (min-width: 463px) {
  .main__elipse-1 {
    top: 4rem;
    left: 73%;
  }

  .main__elipse-2 {
    top: 4rem;
    left: 73%;
  }

  .main__elipse-3 {
    top: 4rem;
    left: 73%;
  }
}

@media screen and (min-width: 768px) {
  .main__elipse-1 {
    top: 2rem;
    /* left: 58%; */
    left: 79%;
  }

  .main__elipse-2 {
    top: 2rem;
    left: 79%;
    /* left: 58%; */
  }

  .main__elipse-3 {
    top: 2rem;
    left: 79%;
    /* left: 58%; */
  }
}

@media screen and (min-width: 1024px) {
  .main__elipse-1 {
    top: 2rem;
    left: 58%;
  }

  .main__elipse-2 {
    top: 2rem;
    left: 58%;
    /* left: 79%; */
  }

  .main__elipse-3 {
    top: 2rem;
    /* left: 79%; */
    left: 58%;
  }
}

.main__heading {
  font-family: var(--principalFont);
  line-height: 2.5rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.main__text-card {
  display: flex;
  flex-direction: column;
}

.main__sub-heading {
  font-family: var(--principalFont);
  margin: 0;
  line-height: 2rem;
}

.main__img-card {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  justify-content: flex-end;
}

.cookies-img {
  width: 10rem;
}

/* GRID 2 */
.main__grid-2 {
  display: grid;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 1024px) {
  .main__grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}

.main__card-grid-2 {
  display: flex;
  flex-direction: column;
  background-color: var(--blanco);
  border-radius: 10px;
  padding: 2rem 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: auto;
  /* horizontal, vertical, blur, spread (dureza), color */
  box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 0.15);
  transition-property: color, background-color, transform;
  transition-duration: 300ms;
}

@media screen and (min-width: 768px) {
  .main__card-grid-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}

.elipse-grid-2 {
  left: 70%;
}

.main__button {
  background-color: var(--primary);
  padding: 0.5rem 2rem;
  width: 100%;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .main__button {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.img-card-grid-2 {
  border-radius: 100px;
  width: 70%;
  height: 70%;
}

@media screen and (min-width: 768px) {
  .img-card-grid-2 {
    width: 100%;
    height: 100%;
  }
}

.main__text-card-grid-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main__img-card-grid-2 {
  display: flex;
  justify-content: flex-end;
}

/* Title card grid-2 */
.heading-grid-2 {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .heading-grid-2 {
    /* text-align: center; */
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

/* SECTION MOBILE */
/* mobile */

.mobile {
  background-color: var(--secundary);
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding: 2rem 0;
  position: relative;
}

/* TODO: COLOCAR LOS SVG EN LA SECCION AMARILLA */

.mobile::before,
.mobile::after {
  content: '';
  /* height: 20rem; */
  width: 100%;
  position: relative;
}

.mobile__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.mobile::before {
  background-image: url(../../public/assets/img/yellowTop.svg);
  background-repeat: no-repeat;
  /* background-color: green; */
  top: -7rem;
  height: 25rem;
  left: 70%;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .mobile__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
  }
}

.mobile__heading {
  color: white;
  font-family: var(--principalFont);
  font-weight: bold;
  font-size: 3rem;
  line-height: 3rem;
}

@media screen and (min-width: 768px) {
  .mobile__heading {
    font-size: 4rem;
    line-height: 5rem;
  }
}

.mobile__text {
  display: flex;
  align-items: center;
}

.mobile__container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.mobile__container::before,
.mobile__container::after {
  content: '';
  width: 100%;
  position: relative;
}

.mobile__container::before {
  /* background-color: blue; */
  background-size: 25rem;
  height: 25rem;
  background-image: url(../../public/assets/img/screens.svg);
  background-repeat: no-repeat;
  top: 0;
}

/* .mobile__container::after {
  background-image: url(../../public/assets/img/yellowBottom.svg);
  background-repeat: no-repeat;
  bottom: -8.8rem;
  height: 20rem;
  left: 15%;
  position: absolute;
} */

@media screen and (min-width: 463px) {
  .mobile__container::before {
    background-size: 28rem;
    height: 28rem;
    top: 0rem;
  }
}

@media screen and (min-width: 768px) {
  .mobile__container::before {
    background-size: 40rem;
    height: 40rem;
    top: -9rem;
    position: absolute;
  }
}

.mobile__text {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mobile__contenedor-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: green; */
  gap: 1rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .mobile__contenedor-button {
    /* display: flex; */
    flex-direction: row;
  }
}

.mobile__button {
  background-color: black;
  padding: 0.5rem 3rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__card-grid-2:hover {
  color: white;
  background-color: var(--primary);
  box-shadow: 0px 0px 15px 1px rgb(red / 0.15);
  transform: scale(1.05);
  cursor: pointer;
}

.main__card-grid-2:hover .main__button {
  background-color: var(--blanco);
  color: var(--primary);
}

/* TODO: Footer */

.footer__red {
  background-color: var(--primary);
  padding: 1rem 0;
  /* height: 4rem; */
  overflow: hidden;
}

.footer__black {
  background-color: #202329;
  padding: 2rem;
  width: 100%;
}

.footer__grid {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 4rem;
    align-items: center;
  }
}

.footer__logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .footer__logos {
    justify-content: flex-end;
    margin-top: 0;
  }
}

.footer__prueba {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-whats,
.logo-market {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

img {
  display: inline-block;
}

.container__logos-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* flex-direction: column; */
  justify-content: space-between;
  /* height: 5rem; */
}

@media screen and (min-width: 462px) {
  .container__logos-contact {
    flex-direction: row;
  }
}

.footer__text {
  font-family: var(--principalFont);
  color: var(--blanco);
}

.container-icons {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 3rem;
}

@media screen and (min-width: 768px) {
  .container-icons {
    gap: unset;
  }
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 2rem;
}

.kfc-logo {
  width: 20%;
}

/* FOOTER BLACK */
.footer__black a {
  font-family: var(--principalFont);
  color: #c4c4c4;
}

.cabecera {
  font-family: var(--principalFont);
  color: var(--blanco);
}

.sr-kfc {
  opacity: 0.1;
  width: 24rem;
}

.container__sr-kfc {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container__sr-kfc {
    justify-content: flex-end;
  }
}
